*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background: url(https://wallpapercave.com/wp/wp2300388.jpg);
}
h1{
    font-size: 45px;
}
.container {
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
select,
input,
button {
  margin: 10px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid violet;
  border-top: 2px solid gold;
  border-radius: 10px;
}
select,
input,
button:focus {
  outline: none;
}
button {
  cursor: pointer;
}
#result{
    background: green;
    color: white;
}
.copyright{
color: black;
}